/* Webfonts */
@font-face{
	font-family: "Monument Extended";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("../_fonts/monumentextended-regular.woff2") format( 'woff2' );
}
@font-face{
	font-family: "Monument Extended";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url("../_fonts/monumentextended-ultrabold.woff2") format( 'woff2' );
}
@font-face{
	font-family: "Geometric";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("../_fonts/geometric-regular.woff2") format( 'woff2' );
}
@font-face{
	font-family: "Geometric";
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url("../_fonts/geometric-extrabold.woff2") format( 'woff2' );
}

/* Main */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: inherit;
	scroll-margin: calc( 5.5rem + 3.75vw ); /* accommodate fixed nav */
}
a {
	color: inherit;
}
svg {
	pointer-events: none;
}
h1, h2, h3 {
	font-family: "Monument Extended Subset", "Monument Extended", Geometric, sans-serif; /* careful about subset characters */
	line-height: 1;
	margin: 0;
}
html {
	height: 100%;
	overflow: hidden; /* divert to body */
	font-family: Geometric, sans-4serif;
	font-size: 100%;
	line-height: 1.5;
	color: #403996;
	background: #fff;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 1px;
	perspective-origin: 100vw 100vh;
	transform-style: preserve3d;
	font-size: 1.125rem;
	text-align: center;
}
#top {
	position: relative;
}
header {
	position: sticky;
	z-index: 10; /* above all */
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 7.5vw;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-family: Geometric, sans-serif;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1;
	color: #ee5271; /* #F36476 */
	background: #fff;
	box-shadow: 0 -1rem 1rem 1rem rgba(71,60,114,.35);
}
header a {
	text-decoration: none;
}
header > a svg:first-of-type {
	height: 2em;
	width: auto;
	margin-top: -.333333em;
}
header > a svg:last-of-type {
	height: 1em;
	width: auto;
	margin-left: .333333em;
	margin-bottom: -.25em;
}
nav {
	margin-left: auto;
}
nav > ul {
	display: flex;
	list-style: none;
}
nav li {
	margin-right: .625vw;
}
nav a,
button {
	display: inline-block;
	padding: calc( .5rem - 3px ) calc( .5rem + .625vw - 3px );
	border: 3px solid transparent; /* will change */
	border-radius: 2.5rem;
	background: transparent; /* will change */
	text-shadow: 0 0 .5em #fff;
	transition: background 150ms ease-in-out;
}
nav a:hover,
nav a:focus,
nav a:active,
button:hover,
button:focus,
button:active {
	background: rgba( 247, 236, 72, 1 );
}
nav a[aria-current] {
	background: rgba( 247, 236, 72, 1 );
	border-color: rgba( 247, 236, 72, 1 );
}
input {
	width: 12rem;
	height: 1.5rem;
	font-size: 1rem;
	border: 3px solid #F36476;
	border-radius: .75rem;
	padding: 0 .5em;
	margin-left: .9375vw;
}
button {
	padding: .375rem .5rem;
	border: 0 none;
	background: none;
	cursor: pointer;
	line-height: 1;
}
button svg {
	display: inline-block;
	height: 1em;
	width: auto;
	fill: transparent;
	stroke: #F36476;
	stroke-width: 3px;
	transform: translate(1px,-1px);
}
[role="banner"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
/* 	height: calc( 47.11vw ); */ /* ratio of graphic */
	overflow: hidden;

	transform: translateZ(-6px) scale(7);
	transform-origin: right calc( 100vh - 5.5rem ); /* height - nav height */
	margin-bottom: -5.5rem;
}
#banner {
	width: calc( 100vw + 8px ); /* bleed */
	height: auto;
}
main {
	position: relative;
	z-index: 1;
	color: #fff;
	background: #473C72;
	padding: 0 3.75vw 3.75vw;
	transform: translateZ(0); /* Safari */
}
main a {
	color: rgba( 247, 236, 72, 1 );
	text-decoration: none;
	padding: .5rem calc( .5rem + .675vw );
	background: transparent; /* will change */
	border-radius: 1.5rem;
	transition: all 150ms ease-in-out;
}
main a:hover,
main a:focus,
main a:active {
	color: #ee5271;
	background: rgba( 247, 236, 72, 1 );
}
main p + p,
main p + ul,
main ul + p {
	margin-top: 1.5rem;
}
.feature {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
/* 	max-width: 1000px; */
	margin: 0 auto 7.5vw;
	color: #473C72;
	background: #fff;
	border-radius: 1.5em;
	overflow: hidden;
}
.feature a {
	color: #ee5271;
}
.feature a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent; /* will change */
	transition: background 150ms ease-in-out;
}
.feature a:hover,
.feature a:focus,
.feature a:active {
	color: rgba( 247, 236, 72, 1 );
	background: #ee5271;
}
.feature a:hover::before,
.feature a:focus::before,
.feature a:active::before {
	background: rgba( 247, 236, 72, 1 );
}
.feature a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.feature div {
	flex: 1 1;
	padding: 3.75vw;
}
.feature h2 {
	font-size: 5rem;
	color: #EF4856;
}
.feature svg {
	position: relative;
	z-index: -1;
	transform: scale(1.25);
}
#stay div {
	text-align: right;
}
#stay svg {
	margin: -2px;
}
#play div {
	order: 2;
	text-align: left;
}
#play svg {
	margin: -2px -120px -41px -2px;
}
#spa div {
	text-align: right;
}
#spa svg {
	margin: -10px -2px -21px;
}

.content {
	padding: 6.25rem 7.5vw 3.75vw;
	text-align: center;
}
.content-icon {
	position: absolute;
	top: -3.25rem;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	height: 8rem;
/* 	filter: drop-shadow( 0 .5rem .5rem rgba(0,0,0,.35) ); */
}
.content h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.content h2:first-line {
	font-size: 1.5rem;
	font-weight: normal;
}
.content p {
	max-width: 48em;
	margin-left: auto;
	margin-right: auto;
}

.home .content {
	padding-top: 10.25rem;
}
.home .content-icon {
	width: auto;
	height: 15rem;
	top: -6.25rem;
}

.commitment,
.feedback {
	margin: 0 auto 7.5vw;
}

.commitment h2 {
	display: inline-block;
	margin: 1em;
	padding: .5em 1em;
	font-size: 3.5rem;
	border-radius: 4.5rem;
}
.commitment h3 {
	font-weight: normal;
	font-size: 3rem;
}
.commitment p {
	margin-bottom: 1.5rem;
}

.feedback h2 {
	font-size: 3.625rem;
	margin: 1em;
}
.feedback ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
.feedback li {
	flex: 0 1 20rem;
	padding: 2rem;
	margin: 1.5rem;
	border-radius: 1.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
/* 	text-align: left; */
}
.feedback li:nth-of-type(1) {
	color: #fff;
	background: #EE5271;
}
.feedback li:nth-of-type(2) {
	background: #72C9CC;
}
.feedback li:nth-of-type(3) {
	color: #fff;
	background: #7857A2;
}
.feedback li:nth-of-type(2) p:last-of-type {
	margin-top: auto;
}
.feedback img {
	width: calc( 100% + 4rem + 2px );
	height: auto;
	margin: calc( ( 2rem + 1px ) * -1 );
	margin-bottom: 0;
	clip-path: polygon( 1px 1px, calc( 100% - 1px ) 1px, calc( 100% - 1px ) calc( 100% - 1px ), 1px calc( 100% - 1px ) );
}
.feedback li:nth-of-type(2) img {
	margin: calc( ( 2rem + 2px ) * -1 );
	margin-top: 0;
}
.feedback svg {
	height: 1em;
	width: auto;
}
.feedback svg + svg {
	margin-left: .5rem;
}

.stay .commitment h2 {
	color: #fff;
	background: #F36476;
}
.play .commitment h2 {
	color: #533E8D;
	background: #F7EC48;
}
.spa .commitment h2 {
	color: #533E8D;
	background: #72C9CC;
}

.about [role="banner"] {
	background: #473C72;
}
.about main {
	color: #473C72;
	background: #fff;
}
.about .content {
	display: flex;
	text-align: left;
	overflow-x: scroll;
}
.about .content > * {
	flex: 0 0 20rem;
}
.about .content > * + * {
	margin-left: 3rem;
}
.about .content div:nth-child(1) {
	font-size: 1rem;
}
.about .content div:nth-child(1) h2 span {
	display: block;
	width: min-content;
	color: #fff;
	background: #473C72;
	box-decoration-break: clone;
	padding: .5rem 1rem;
	border-radius: 1.5rem;
	margin-left: -.5rem;
}
.about .content div:nth-child(1) h2 span + span {
	margin-top: .25rem;
}
.about .content div:nth-child(n+2) {
	position: relative;
	overflow: hidden;
	border-radius: 1.5rem;
}
.about .content div:nth-child(n+2) > a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 3rem;
	font-weight: 800;
	line-height: 1;
	color: #fff;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
.about .content div:nth-child(n+2) > a:hover,
.about .content div:nth-child(n+2) > a:focus,
.about .content div:nth-child(n+2) > a:active {
	color: rgba( 247, 236, 72, 1 );
	background: transparent;
}
.about .content div:nth-child(2) > a:hover .about-stay-1,
.about .content div:nth-child(2) > a:focus .about-stay-1,
.about .content div:nth-child(2) > a:active .about-stay-1,
.about .content div:nth-child(3) > a:hover .about-play-1,
.about .content div:nth-child(3) > a:focus .about-play-1,
.about .content div:nth-child(3) > a:active .about-play-1,
.about .content div:nth-child(4) > a:hover .about-spa-1,
.about .content div:nth-child(4) > a:focus .about-spa-1,
.about .content div:nth-child(4) > a:active .about-spa-1 {
	stroke: currentcolor;
}
.about .content div:nth-child(2) {
	background: #7857A2;
}
.about .content div:nth-child(3) {
	background: #EE5271;
}
.about .content div:nth-child(4) {
	background: #72C9CC;
}
.about .content div:nth-child(n+2) > a > * {
	width: 100%;
}
.about .content div:nth-child(n+2) p:last-child {
	margin-top: auto;
}
.about .content ul {
	margin-left: 1.5rem;
}
.about .content svg {
	width: 40%;
	height: auto;
}

.leaders,
.groomers {
	margin: 7.5vw auto;
}
.leaders h2,
.groomers h2 {
	font-size: 3.5rem;
	text-transform: uppercase;
	margin-bottom: 5vw;
}
.leaders h2 span:last-of-type {
	color: #EE5271;
}
.groomers h2 span:last-of-type {
	color: #72C9CC;
}
.leaders ul,
.groomers ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.leaders li + li,
.groomers li + li {
	margin-left: 5vw;
}
.leaders li,
.groomers li {
	display: flex;
	flex-direction: column;
}
.leaders p,
.groomers p {
	margin-top: auto;
}
.leaders li:nth-child(2) img,
.groomers li:nth-child(2) img,
.groomers li:nth-child(3) img {
	transform: translateY(-10px);
}
.groomers li:nth-child(4) img {
	transform: translateY(-5px);
}

footer {
	padding: 7.5vw;
	color: #fff;
	background: #ee5271;
	text-align: center;
	transform: translateZ(-6px) scale(7);
	transform-origin: right bottom;
}
footer a:hover,
footer a:focus,
footer a:active {
	color: rgba( 247, 236, 72, 1 );
}
[aria-hidden="true"] {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

@media (max-width: 1000px) {
	header > a svg:last-of-type,
	nav li:first-of-type,
	input {
		display: none;
	}
}
@media (max-width: 480px) {
	header {
		font-size: 1rem;
	}
}
